# Server Configuration
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/school-admission-crm

# JWT Secret
JWT_SECRET=super_secret_crm_jwt_token_key_123!

# SMTP Configuration (for OTP emails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ss6587493@gmail.com
SMTP_PASS=gxxtesjbcrnevlqp
MAIL_FROM="ss6587493@gmail.com"

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Google OAuth
GOOGLE_CLIENT_ID=708110054977-m02s1ndnufls51hld0u0cgn61haou50q.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
